@import "tailwindcss";
@theme {
  --color-cinema-bg: #000000;      
  --color-cinema-surface: #000000;  
  --color-cinema-card: #000000;     
  --color-cinema-accent: #E50914;   
  --color-cinema-gold: #F5C518;     
  --color-cinema-text: #EBEBEB;     
  --color-cinema-muted: #8A8A9A;    
}